/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px;
  }
  
  /* Logo */
  .logo {
    mix-blend-mode: darken;
    padding-left: 100px;
  }
  
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ff9900;
  }
  
 
  